In [41]:
%matplotlib inline
import numpy as np
import math
import pandas as pd
import matplotlib.pyplot as plt

states = {
        'AK': 'Alaska',
        'AL': 'Alabama',
        'AR': 'Arkansas',
        'AS': 'American Samoa',
        'AZ': 'Arizona',
        'CA': 'California',
        'CO': 'Colorado',
        'CT': 'Connecticut',
        'DC': 'District of Columbia',
        'DE': 'Delaware',
        'FL': 'Florida',
        'GA': 'Georgia',
        'GU': 'Guam',
        'HI': 'Hawaii',
        'IA': 'Iowa',
        'ID': 'Idaho',
        'IL': 'Illinois',
        'IN': 'Indiana',
        'KS': 'Kansas',
        'KY': 'Kentucky',
        'LA': 'Louisiana',
        'MA': 'Massachusetts',
        'MD': 'Maryland',
        'ME': 'Maine',
        'MI': 'Michigan',
        'MN': 'Minnesota',
        'MO': 'Missouri',
        'MP': 'Northern Mariana Islands',
        'MS': 'Mississippi',
        'MT': 'Montana',
        'NA': 'National',
        'NC': 'North Carolina',
        'ND': 'North Dakota',
        'NE': 'Nebraska',
        'NH': 'New Hampshire',
        'NJ': 'New Jersey',
        'NM': 'New Mexico',
        'NV': 'Nevada',
        'NY': 'New York',
        'OH': 'Ohio',
        'OK': 'Oklahoma',
        'OR': 'Oregon',
        'PA': 'Pennsylvania',
        'PR': 'Puerto Rico',
        'RI': 'Rhode Island',
        'SC': 'South Carolina',
        'SD': 'South Dakota',
        'TN': 'Tennessee',
        'TX': 'Texas',
        'UT': 'Utah',
        'VA': 'Virginia',
        'VI': 'Virgin Islands',
        'VT': 'Vermont',
        'WA': 'Washington',
        'WI': 'Wisconsin',
        'WV': 'West Virginia',
        'WY': 'Wyoming'
}

columns = ['state','deaths']
index = np.arange(57) # array of numbers for the number of samples
df = pd.DataFrame(columns=columns, index = index)
def find_between( s, first, last ):
    try:
        start = s.index( first ) + len( first )
        end = s.index( last, start )
        return s[start:end]
    except ValueError:
        return ""

    
headers = ['Area', 'Year','Deaths']
df = pd.read_csv('deaths.csv',header=False,
                      names=headers)
df['Area'] = df['Area'].astype(str)
df['Area'] = df['Area'].str[-2:]


byState_df = pd.DataFrame(states.items())
byState_df['Deaths'] = 0
byState_df['Hospitals'] = 0
byState_df['StatePop'] = 0
byState_df['DeathPercentage'] = 0.0
byState_df['HospitalPercentage'] = 0.0
byState_df['PovertyPercentage'] = 0.0
df['Deaths'] = df['Deaths'].convert_objects(convert_numeric=True)

#print byState_df
for index, row in df.iterrows():
    if row['Area'] in states:
            if not math.isnan(row['Deaths']):
                byState_df.loc[byState_df[0] == row['Area'], 'Deaths'] = byState_df.loc[byState_df[0] == row['Area'], 'Deaths'] + row['Deaths']    
#print byState_df

headers = ['Provider ID','Hospital Name','Address','City','State','ZIP Code','County Name','Phone Number','Hospital Type','Hospital Ownership','Emergency Services','Location']
hospitals_df = pd.read_csv('hospitals.csv',header=False,
                      names=headers)
#print hospitals_df['State']
for index, row in hospitals_df.iterrows():
    if row['State'] in states:
                byState_df.loc[byState_df[0] == row['State'], 'Hospitals'] = byState_df.loc[byState_df[0] == row['State'], 'Hospitals'] + 1   

#print byState_df


headers = ['SUMLEV','REGION','DIVISION','STATE','NAME','POPESTIMATE2014','POPEST18PLUS2014','PCNT_POPEST18PLUS']
statepop_df = pd.read_csv('state_populations.csv',header=False,
                      names=headers)
#print hospitals_df['State']
for index, row in statepop_df.iterrows():
    if row['NAME'] in states:
                byState_df.loc[byState_df[0] == row['NAME'], 'StatePop'] = row['POPESTIMATE2014']

#print byState_df

for index, row in byState_df.iterrows():
    if row['Deaths'] > 0 and row['StatePop'] > 0 and row['Hospitals'] > 0:
              byState_df.loc[byState_df[0] == row[0], 'DeathPercentage'] = 1000 * float(row['Deaths']) / float(row['StatePop'])
              byState_df.loc[byState_df[0] == row[0], 'HospitalPercentage'] = 100000 * float(row['Hospitals']) / float(row['StatePop'])
           

headers = ['StateCode','State','Poverty']
statepop_df = pd.read_csv('poverty.csv',header=False,
                      names=headers)
for index, row in statepop_df.iterrows():
    if row['State'] in states:
                byState_df.loc[byState_df[0] == row['State'], 'PovertyPercentage'] = row['Poverty']        
        
print byState_df          

byState_df.to_csv('output.csv')

     0                         1  Deaths  Hospitals  StatePop  \
0   WA                Washington   15919         92   7061530
1   WI                 Wisconsin    3976        127   5757564
2   WV             West Virginia       0         52   1850326
3   FL                   Florida   20760        188  19893297
4   WY                   Wyoming       0         29    584153
5   NH             New Hampshire       0         26   1326813
6   NJ                New Jersey    6656         64   8938175
7   NM                New Mexico    6794         42   2085572
8   NA                  National       0          0         0
9   NC            North Carolina    9886        111   9943964
10  ND              North Dakota       0         45    739482
11  NE                  Nebraska    4951         90   1881503
12  NY                  New York   76127        180  19746227
13  RI              Rhode Island    3260         12   1055173
14  NV                    Nevada   15879         34   2839099
15  GU                      Guam       0          1         0
16  CO                  Colorado   10864         79   5355866
17  CA                California   66126        339  38802500
18  GA                   Georgia    9881        134  10097343
19  CT               Connecticut    7776         31   3596677
20  OK                  Oklahoma    4747        127   3878051
21  OH                      Ohio   49668        170  11594163
22  KS                    Kansas    6362        133         0
23  SC            South Carolina       0         63   4832482
24  KY                  Kentucky    4107         95   4413457
25  OR                    Oregon    6491         61   3970239
26  SD              South Dakota       0         55    853175
27  DE                  Delaware     607          7    935614
28  DC      District of Columbia       0          9    658893
29  HI                    Hawaii    4178         18         0
30  PR               Puerto Rico       0         52         0
31  TX                     Texas   60209        374  26956958
32  LA                 Louisiana   11971        120   4649676
33  TN                 Tennessee   29316        111   6549352
34  PA              Pennsylvania    7574        174  12787209
35  VA                  Virginia    5693         86   8326289
36  VI            Virgin Islands       0          2         0
37  AK                    Alaska       0         21    736732
38  AL                   Alabama   17733         91   4849377
39  AS            American Samoa       0          1         0
40  AR                  Arkansas    3795         78   2966369
41  VT                   Vermont       0         15    626562
42  IL                  Illinois   18851        181  12880580
43  IN                   Indiana   20543        127   6596855
44  IA                      Iowa    1544        118   3107126
45  AZ                   Arizona   16532         79   6731484
46  ID                     Idaho    3283         42   1634464
47  ME                     Maine       0         35   1330089
48  MD                  Maryland    7172         47   5976407
49  MA             Massachusetts   17423         67   6745408
50  UT                      Utah    9206         46   2942902
51  MO                  Missouri   10727        108   6063589
52  MN                 Minnesota    8257        132   5457173
53  MI                  Michigan   11095        136   9909877
54  MT                   Montana       0         58   1023579
55  MP  Northern Mariana Islands       0          1         0
56  MS               Mississippi       0         97         0

    DeathPercentage  HospitalPercentage  PovertyPercentage
0          2.254327            1.302834               14.1
1          0.690570            2.205794               13.5
2          0.000000            0.000000               18.4
3          1.043568            0.945042               17.1
4          0.000000            0.000000               10.9
5          0.000000            0.000000                9.0
6          0.744671            0.716030               11.4
7          3.257619            2.013836               21.4
8          0.000000            0.000000                0.0
9          0.994171            1.116255               17.8
10         0.000000            0.000000               11.6
11         2.631407            4.783410               12.9
12         3.855268            0.911567               16.0
13         3.089541            1.137254               14.7
14         5.592972            1.197563               15.8
15         0.000000            0.000000                0.0
16         2.028430            1.475018               12.9
17         1.704169            0.873655               16.8
18         0.978574            1.327082               19.0
19         2.161996            0.861907               10.7
20         1.224068            3.274841               16.7
21         4.283880            1.466255               15.9
22         0.000000            0.000000               13.9
23         0.000000            0.000000               18.5
24         0.930563            2.152508               18.8
25         1.634914            1.536431               16.5
26         0.000000            0.000000               14.0
27         0.648772            0.748172               12.9
28         0.000000            0.000000               18.8
29         0.000000            0.000000               11.2
30         0.000000            0.000000                0.0
31         2.233524            1.387397               17.5
32         2.574588            2.580825               20.0
33         4.476168            1.694824               17.8
34         0.592311            1.360735               13.7
35         0.683738            1.032873               11.7
36         0.000000            0.000000                0.0
37         0.000000            0.000000               10.1
38         3.656758            1.876530               18.9
39         0.000000            0.000000                0.0
40         1.279342            2.629477               19.4
41         0.000000            0.000000               12.3
42         1.463521            1.405216               14.6
43         3.114060            1.925160               15.8
44         0.496922            3.797722               12.6
45         2.455922            1.173590               18.6
46         2.008610            2.569650               15.6
47         0.000000            0.000000               14.0
48         1.200052            0.786426               10.2
49         2.582942            0.993268               11.9
50         3.128205            1.563083               12.6
51         1.769084            1.781123               15.8
52         1.513054            2.418835               11.2
53         1.119590            1.372368               17.0
54         0.000000            0.000000               16.1
55         0.000000            0.000000                0.0
56         0.000000            0.000000               23.9